@model List<Atsolution.Efs.Entities.Menu>

@foreach (var item in Model)
{
    <li>
        <a href="~/@item.AnotherLink"><i class="@item.IconSlug"></i><span>@item.Name</span></a>
        <ul>
            <li>
                <a href="#">Shop Products listing</a>
                <ul>
                    <li><a href="#">Right Side Bar</a></li>
                    <li><a href="#">Left Side Bar</a></li>
                    <li><a href="#">No side bar</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Product Page</a>
                <ul>
                    <li><a href="#">Right Side Bar</a></li>
                    <li><a href="#">Left Side Bar</a></li>
                    <li><a href="#">No side bar</a></li>
                </ul>
            </li>
            <li><a href="#">Shoping cart</a></li>
            <li><a href="#">Check out</a></li>
        </ul>
    </li>
}
